body { 
    max-width: 360px; 
    margin:auto;
}

pre {
    display:none;
}

.featured-story {
    display:none;
}

.story-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.story-list article {
    margin: 2rem 0;
}

.story-list article > :first-child {
    margin-top: 0px;
}

.story-list article > :last-child {
    margin-bottom: 0px;
}

.story-list li:last-child hr{
    display:none;
}

.story-list figure{
    margin: 0;
}

.story-list h2{
    margin:0;
    font-weight:600;
}

.story-list a {
    color: inherit;
    text-decoration: none;
}

.story-list a:hover {
    color: blue;
}

.content{
    color:#2a2a2a;
    font-family:"helvetica neue";
    font-weight:300;
}

.source{
    color:#808080;
    font-family:"helvetica neue";
    font-weight:300;
}

hr{
    margin-top:2rem;
}

