.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #130e37;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 6px solid #920cff;
    border-top-color: #ff5ae4;
    animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/* ========== OPERATION BODY ========== */
#operation-body {
    z-index: 100;
    height: calc(50vh + 5px);
    resize: vertical;
    overflow-y: hidden;
    transition: transform 0.3s ease;
}

#dragbar {
    display: flex;
    min-height: 40px;
    overflow: hidden;
    background: #0c0a20;
}

#dragbarbtn {
    height: 100%;
}

.btn-realistic {
    font-size: 1.2rem;
    width: 100px;
    height: 38px;
    background-color: #0c0a20;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-realistic:hover {
    background-color: #20176a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-realistic:active {
    background-color: #110c3a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(1px);
}

#dragbarIcons i {
    animation: glowing 6s ease-in-out infinite;
}

@keyframes glowing {
    0% {
        color: #ff5ae4;
        text-shadow: 0 0 10px #ff5ae4;
    }

    50% {
        color: #ff99ff;
        text-shadow: 0 0 20px #ff99ff;
    }

    100% {
        color: #ff5ae4;
        text-shadow: 0 0 10px #ff5ae4;
    }
}
#panel-container{
    position: absolute;
    bottom:0;
    height: calc(50vh - 40px);
    width: 100vw;
    transition: bottom 0.5s ease;
    animation: panelExpand 2s ease-in-out infinite;
}
#display-container{
    --panel-color: #110830;
    /* --panel-color: #110830; */
    position: absolute;
    margin-bottom:0;
    height: calc(50vh - 40px);
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: bottom 0.5s ease;
}
#panel-display{
    height:136px;
    min-width: 690px;
    margin-top: 46px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    animation: panelMarginExpand 2s ease-in-out infinite;
}
.circle-panel{
    width: 130px;
    height: 98px;
}
.circles{
    background: var(--panel-color);
    width: 98px;
    height: 98px;
    margin-left: 14px;
    border-radius: 50%;
}
.square-panel{
    width: 300px;
    height: 130px;
    display:flex;
    justify-content: center;
    align-items: start;
}
.squares{
    background: var(--panel-color);
    width: 300px;
    height: 120px;
}

#bike-panel {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 100;
    bottom: 0;
    background: url('./items/panels/bike-panel-frame.png') no-repeat center bottom;
    background-size: auto 100%;
    filter: contrast(1);
    transition: filter 0.5s ease;
    animation: panelGlow 5s ease-in-out infinite;
}
#panel-bottom {
    width: calc(50vh * 7/4);
    background: url('./items/panels/bike-panel-bg.png') no-repeat center top;
    background-size: auto calc(50vh - 35px);
}
/* @keyframes panelGlow {
    0% {
        filter: contrast(1) brightness(1);
        background-size: auto calc(50vh - 40px);
    }

    50% {
        filter: contrast(1.5) brightness(1.8);
        background-size: auto calc(50vh - 30px);
    }

    100% {
        filter: contrast(1) brightness(1);
        background-size: auto calc(50vh - 40px);
    }
} */
@keyframes panelGlow {
    0% {
        filter: contrast(1) brightness(1);
    }

    50% {
        filter: contrast(1.5) brightness(1.5);
    }

    100% {
        filter: contrast(1) brightness(1);
    }
}
@keyframes panelExpand{
    0% {
        height: calc(50vh - 40px);
    }

    50% {
        height: calc(50vh - 30px);
    }

    100% {
        height: calc(50vh - 40px);
    }
}
@keyframes panelMarginExpand{
    0% {
        margin-top: 46px;
        height:136px;
        width: 680px;
    }

    50% {
        margin-top: 44px;
        height:141px;
        width: 698px;
    }

    100% {
        margin-top: 46px;
        height:136px;
        width: 680px;
    }
}

/* ========== GAME BODY ========== */
#game-body {
    max-height: calc(100vh - 40px) !important;
    width: 100vw;
    overflow-y: hidden !important;
}

#game-bg {
    max-height: calc(100vh - 40px) !important;
    width: 100vw;
    height: calc(50vh - 6px);
    margin-top: 0;
    overflow-y: hidden !important;
}

.layer-top {
    max-height: calc(100vh - 40px) !important;
    width: auto;
    height: 100%;
    background: url('./items/background/tokyo-bg-short.png') left bottom;
    background-size: cover;
    background-repeat: repeat-x;
}
.player-container{
    transform-origin: bottom left;
}
.player {
    --bike-width: 121px;
    min-height: 100px;
    width: 95%;
}
.player .frame {
    position: absolute;
    z-index: 1;
    width: var(--bike-width);
}
.player .wheels {
    margin-top: 55px;
    position: absolute;
    width: var(--bike-width);
}
.player .back,
.player .front {
    width: 30%;
    animation: spin 0.05s infinite linear;
}
.player-shadow {
    z-index: 10;
    --shadow-left: -30px;
    position: absolute;
    bottom: 3px;
    left: var(--shadow-left);
    width: 160px;
    height: 12px;
    border-radius: 50%;
    filter: blur(3px);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
}

#red {
    --red-left: 200px;
    position: absolute;
    width: 8%;
    margin-bottom: 8px;
    animation: redBackForth 5s infinite linear;
}
@keyframes redBackForth {
    0% {
        margin-left: var(--red-left);
    }

    20% {
        margin-left: calc(var(--red-left) * 0.9);
    }

    40% {
        margin-left: var(--red-left);
    }

    60% {
        margin-left: calc(var(--red-left) * 1.5);
    }

    80% {
        margin-left: var(--red-left);
    }

    100% {
        margin-left: var(--red-left);
    }
}

#purple {
    --purple-left: 300px;
    position: absolute;
    width: 24%;
    margin-bottom: 30px;
    animation: purpleBackForth 5s infinite linear;
}
@keyframes purpleBackForth {
    0% {
        margin-left: var(--purple-left);
    }

    25% {
        margin-left: calc(var(--purple-left) * 0.8);
    }

    50% {
        margin-left: var(--purple-left);
    }

    75% {
        margin-left: calc(var(--purple-left) * 2);
    }

    100% {
        margin-left: var(--purple-left);
    }
}

#white {
    --white-left: 100px;
    position: absolute;
    width: 8%;
    margin-bottom: 40px;
    animation: whiteBackForth 5s infinite linear;
}
@keyframes whiteBackForth {
    0% {
        margin-left: var(--white-left);
    }

    25% {
        margin-left: calc(var(--white-left) * 0.8);
    }

    50% {
        margin-left: var(--white-left);
    }

    75% {
        margin-left: calc(var(--white-left) * 2);
    }

    100% {
        margin-left: var(--white-left);
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes wobble {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-5deg);
    }

    70% {
        transform: rotateZ(-5deg);
    }

    80% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}